.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sideNavBar {
  width: 200px;
  padding: 0 3% 0 0;
  height: 100vh;
  display: flex;
  flex-grow: 1;
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
}

.sideNavBar ul {
  margin-top: 100px;
}

div .form-control:focus {
  border-color: rgb(0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);

}

#xylrsphere-main-heading {
  position: fixed;
  margin: 2%;
  z-index: 5;
  color: white;
  font-size: 2em;
}

nav.sideNavBar ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 10% 0;
  font-size: 1.25em;
}

nav.sideNavBar ul li:hover {
  color: rgb(255, 100, 104);
  list-style-type: disclosure-closed;
}

#nft-list-container {
  margin-left: 210px;
}

img.card-img-top:hover {
  transform: scale(1.2);

}

div.card div.card-body button.btn-outline-secondary {
  margin: 0 4.4em;
}

div.card div.card-body button.btn-outline-success {
  margin: 0 3.4em;
}

button.btn-outline-secondary {
  margin: 0 4.4em;
}

#wallet-container,
#signup-container,
#watchlist-container,
#login-container {
  margin-left: 210px;
}

#search-input {
  margin: 0 0 0 1%;
  font-size: 2em;
}

h3 {
  margin: 5% auto;
}

span {
  color: gold;
}

#nft-price-chart {
  display: inline-block;
  width: 800px;
  /* float: right; */
}

.watchlist-icon {
  height: 75px;
  width: 75px;
}

.watchlist-row {
  max-height: 125px;
  min-width: 97.5vw;
  display: inline-block;
  border: 1px solid black
}

.watchlist-row * {
  float: left;
}

.watchlist-row h5 {
  min-width: 250px;
}

table {
  border: 1px solid;
}

th {
  height: 30px;
}

td {
  width: 100px;
}

#stripe-checkout {
  width: 75%;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}